# URLs
FORGOT_MAIL_URL=
APP_API_URL=

# Database
TYPEORM_CONNECTION=
TYPEORM_HOST=
TYPEORM_USERNAME=
TYPEORM_PASSWORD=
TYPEORM_DATABASE=
TYPEORM_PORT=
# TYPEORM_ENTITIES=
# TYPEORM_ENTITIES_DIR=
# TYPEORM_MIGRATIONS=
# TYPEORM_MIGRATIONS_DIR=

# AWS Credentials
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET=
AWS_BUCKET_REGION=
AWS_BUCKET_URL=
AWS_REGION=

# Storage
disk=local

# Email
MAIL_PROVIDER=ethereal

# Redis
REDIS_HOST=localhost
REDIS_PORT=
REDIS_PASSWORD=

# Sentry
SENTRY_DSN=